[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "SocketLib"]
	path = SocketLib
	url = https://github.com/Tomenz/SocketLib
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
