[submodule "SocketLib"]
	path = SocketLib
	url = https://github.com/Tomenz/SocketLib
	ignore = untracked
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli.git
	ignore = untracked
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
	ignore = untracked
[submodule "FastCgi"]
	path = FastCgi
	url = https://github.com/Tomenz/FastCgi
	ignore = untracked
[submodule "SrvLib"]
	path = SrvLib
	url = https://github.com/Tomenz/SrvLib.git
	ignore = untracked
